<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>This is help page This is help page This is help page 
            This is help page This is help page This is help page
            This is help page This is help page This is help page
            This is help page This is help page This is help page
            </p>
        <p>{{helpText}}</p>

        {{>footer}}
    </body>
</html>